{% extends 'shopping_lists/base.html' %}
{% block title %}
    Detalles para {{ object.name }}
{% endblock %}
{% block content %}
    <div class="modal modal-dialog modal-login modal-clear" id="AddList" tabindex="-1"
         role="dialog"
         style="color: black">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form class="form" method="POST"
                              action="">
                            {% csrf_token %}
                            <label class="form-check-label">
                                {{ form.name.label }}
                            </label>
                            <div class="input-group form-group-no-border input-lg">
                                {{ form.name }}
                            </div>
                            <label class="form-check-label">
                                {{ form.price.label }}
                            </label>
                            <div class="input-group form-group-no-border input-lg">
                                {{ form.price }}
                            </div>
                            <label class="form-check-label">
                                {{ form.quantity.label }}
                            </label>
                            <div class="input-group form-group-no-border input-lg">
                                {{ form.quantity }}
                            </div>
                            <button type="submit"
                                    class="btn btn-primary btn-round btn-lg btn-block">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-dialog modal-login modal-clear alien-modal-form" id="EditItem"
         tabindex="-1" role="dialog" style="color: black">
    </div>
    <div class="modal modal-dialog modal-login modal-clear alien-modal-form" id="DeleteItem"
         tabindex="-1" role="dialog" style="color: black">
    </div>

    <div class="row" style="margin-top:-20px">
        <div class="col-md-8 ml-auto mr-auto">
            <a href="{% url 'shopping_lists:dashboard' %}"
               class="btn btn-neutral pull-left">❮ Volver al Tablero Principal</a>
            <div class="card card-plain" style="color:black">
                <div class="card-body bg-white" style="opacity: .85">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons objects_support-17"></i>
                                </div>
                                <strong>Rayos!</strong>
                                {% for error in form.errors %}
                                    {{ form.errors.as_text | escape }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    {% if messages %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="now-ui-icons ui-2_like"></i>
                                </div>
                                <strong>Bien Hecho!</strong>
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert"
                                        aria-label="Close">
  						<span aria-hidden="true">
							<i class="now-ui-icons ui-1_simple-remove"></i>
						</span>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="pull-left">
                        <a href="" data-toggle="modal"
                           data-target="#AddList"
                           class="padding-five btn btn-primary btn-round float-right"><i
                                class="padding-five material-icons">agregar</i>
                        </a>
                    </div>
                    <div class="table-responsive ">
                        <table class="table">
                            <tr>
                                <h6>
                                    Items para <strong><em
                                        style="color: orange">{{ object.name }}</em></strong>
                                    lista de compras.
                                </h6>
                            </tr>
                            {% if shopping_items %}
                                <thead class="">
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th class="text-center">
                                        Desde
                                    </th>
                                    <th class="text-right">
                                        Ultima Actualización
                                    </th>
                                    <th class="text-right">
                                        Acciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in shopping_items %}
                                    <tr>
                                        <td class="text-center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.price }}
                                        </td>
                                        <td>
                                            {{ item.quantity }}
                                        </td>
                                        <td class="text-center">
                                            {{ item.date_created }}
                                        </td>
                                        <td class="text-right">
                                            {{ item.date_updated }}
                                        </td>
                                        <td class="text-right">
                                            <button type="button" rel="tooltip"
                                                    class="alien-modal-trigger btn btn-info
                                                           btn-icon btn-sm "
                                                    title="Update Item Name."
                                                    data-action="{% url 'shopping_lists:update_item' item.id %}"
                                                    data-modal_id="#EditItem"
                                                    data-form_id="#edit-form"
                                            >
                                                <i class="now-ui-icons users_single-02"></i>
                                            </button>
                                            <button type="button" rel="tooltip"
                                                    class="alien-modal-trigger btn btn-danger btn-icon btn-sm "
                                                    title="Delete List."
                                                    data-action="{% url 'shopping_lists:delete_item' item.id %}"
                                                    data-modal_id="#EditItem"
                                                    data-form_id="#delete-item-form"
                                                    data-list_name={{ item.name }}>
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <br>
                                <br>
                                <thead>
                                <tr>
                                    ********** NO SE ENCONTRARON ITEMS, POR FAVOR CREE UNO **********
                                </tr>
                                </thead>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
